@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

:root {
  --black: #252b42;
  --white: #ffffff;
  --green: #40bb15;
  --grey: #bdbdbd;
  --blue: #23a6f0;
}

*::selection {
  color: var(--grey);
  background: var(--black);
}

#background {
  padding: 20px 5em 0 5em;
  background-size: cover;
}

body {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.navbar > h3 {
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.09em;
  color: var(--white);
}

.navbar nav,
.navbar .btn {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.navbar nav a,
.navbar .btn a {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.2px;
  color: var(--white);
}

.navbar nav a:hover,
.navbar .btn a:hover,
footer .footer-container .groups nav a:hover {
  color: var(--blue);
  transform: scale(1.1);
}

.navbar .btn button {
  display: flex;
  align-items: center;
  padding: 12px;
  background: var(--blue);
  color: var(--white);
  font-size: 12px;
  font-weight: 700;
  border-radius: 10px;
}

.navbar .btn button:hover,
.pricing .container-cards .cards button:hover,
.contact .contact-position .contact-us button:hover {
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
}

.navbar button .fa-arrow-right {
  padding-left: 5px;
  font-size: 12px;
}

.financial-assistant {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10em;
  padding: 5em 0 0 0;
}

.financial-assistant .content h1 {
  font-weight: 800;
  font-size: 58px;
  line-height: 1.1em;
  letter-spacing: 0.05em;
  padding-bottom: 20px;
  color: var(--white);
}

.financial-assistant .content p {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: var(--grey);
}

.financial-assistant .content .para {
  display: flex;
  align-items: center;
  column-gap: 1em;
  padding-top: 25px;
}

.financial-assistant .content .para p {
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  background: var(--blue);
  padding: 7px 15px;
  color: var(--white);
  border-radius: 2em;
}

.financial-assistant .content .para p:hover {
  background: var(--black);
  color: var(--white);
  cursor: pointer;
}

.financial-assistant .content .para p:nth-child(2) {
  background: local;
  border: 1px solid var(--white);
  padding: 7px 22px;
}

.financial-assistant .content .para:hover p:nth-child(2) {
  background: var(--blue);
  border: 0;
}

.financial-assistant img {
  width: 350px;
  object-fit: cover;
}

.quality-business,
.clients-say,
.about-us,
.pricing {
  padding: 3em 5em;
}

.quality-business h2,
.clients-say h2,
.about-us h2,
.pricing h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3em;
  letter-spacing: 0.2px;
  color: var(--black);
  text-align: center;
}

.quality-business > p,
.clients-say > p,
.about-us > p,
.pricing > p {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #737373;
  text-align: center;
  padding-top: 10px;
}

.quality-business .cards,
.clients-say .container-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 3em;
}

.quality-business .cards .box {
  padding: 20px 25px;
  text-align: center;
  border-radius: 15px;
  border: 1px solid var(--blue);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.quality-business .cards .box:first-child {
  padding: 20px 45px;
}

.quality-business .cards .box:nth-child(4) {
  padding: 20px 3em;
}

.quality-business .cards .box img {
  width: 40px;
  object-fit: cover;
}

.quality-business .cards .box h2 {
  font-weight: 700;
  color: var(--black);
  font-size: 25px;
  letter-spacing: 0.05em;
  padding-top: 7px;
}

.quality-business .cards .box p {
  font-weight: 700;
  font-size: 13px;
  color: var(--grey);
  padding-top: 7px;
}

.clients-say .container-box .box {
  display: flex;
  align-items: center;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.clients-say .container-box .box img {
  width: 175px;
  height: 200px;
}

.clients-say .container-box .box .profil {
  padding: 0 25px 0 15px;
}

.clients-say .container-box .box .profil h3 {
  font-weight: 700;
  font-size: 20px;
  color: var(--black);
  padding-bottom: 3px;
}

.clients-say .container-box .box .profil h6 {
  font-size: 14px;
  font-weight: 600;
  color: var(--grey);
  padding-bottom: 10px;
}

.clients-say .container-box .box .profil .fa-star {
  color: #f3cd03;
  font-size: 14px;
  padding-bottom: 12px;
}

.clients-say .container-box .box .profil p {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #737373;
}

.about-us .container-about > img {
  width: 400px;
  object-fit: cover;
}

.about-us .container-about .content h3 {
  font-weight: 700;
  font-size: 22px;
  color: var(--black);
  padding-bottom: 6px;
}

.about-us .container-about,
.pricing .container-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5em;
  padding-top: 3em;
}

.about-us .container-about .content p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
  padding-bottom: 2em;
}

.about-us .container-about .content .para-position {
  display: flex;
  align-items: self-start;
  column-gap: 13px;
}

.about-us .container-about .content .para-position > img {
  width: 25px;
}

.about-us .container-about .content .para-position .para h5 {
  font-weight: 700;
  font-size: 15px;
  color: var(--black);
  padding-bottom: 5px;
}

.about-us .container-about .content .para-position .para h6 {
  font-weight: 500;
  font-size: 12px;
  color: #737373;
  padding-bottom: 20px;
}

.pricing .container-cards .cards {
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  background: var(--white);
  padding: 30px 25px;
  border-radius: 10px;
  border: 1px solid var(--blue);
}

.pricing .container-cards .cards h3 {
  font-weight: 700;
  font-size: 24px;
  color: var(--black);
  padding-bottom: 15px;
}

.pricing .container-cards .cards > p {
  color: #737373;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 20px;
}

.pricing .container-cards .cards p:nth-of-type(2) {
  font-size: 30px;
  font-weight: 500;
  color: var(--blue);
  padding-bottom: 20px;
}

.pricing .container-cards .cards p:nth-of-type(2) span {
  font-size: 12px;
  font-weight: 400;
  color: #8ec2f2;
}

.pricing .container-cards .cards .icon-position {
  display: flex;
  align-items: center;
  column-gap: 5px;
  padding-bottom: 10px;
  padding-left: 25px;
}

.pricing .container-cards .cards .icon-position .fa-circle-check {
  color: var(--green);
}

.pricing .container-cards .cards .icon-position:nth-of-type(5) .fa-circle-check,
.pricing
  .container-cards
  .cards
  .icon-position:nth-of-type(6)
  .fa-circle-check {
  color: var(--grey);
}

.pricing .container-cards .cards .icon-position h6 {
  font-size: 12px;
  font-weight: 600;
  color: var(--black);
}

.pricing .container-cards .cards button,
.contact .contact-position .contact-us button {
  margin-top: 13px;
  padding: 10px 25px;
  font-weight: 700;
  font-size: 13px;
  color: var(--white);
  background: var(--blue);
  border-radius: 6px;
}

.contact {
  margin: 0 0 12em 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact .contact-position {
  display: flex;
  justify-content: center;
  text-align: center;
}

.contact .contact-position .contact-us h5 {
  font-weight: 700;
  font-size: 13px;
  color: var(--black);
  padding-bottom: 7px;
}

.contact .contact-position .contact-us {
  width: 653px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  background: var(--white);
  padding: 20px;
  position: relative;
  top: 9em;
}

.contact .contact-position .contact-us h2 {
  font-weight: 700;
  font-size: 24px;
  color: var(--black);
}

.contact .contact-position .contact-us form {
  display: flex;
  flex-wrap: wrap;
  gap: 12px 2em;
  padding: 20px 0;
}

.contact .contact-position .contact-us form input {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  width: 47%;
  padding: 9px 10px;
  outline-color: var(--blue);
}

.contact .contact-position .contact-us form input::placeholder,
.contact .contact-position .contact-us textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  color: var(--black);
}

.contact .contact-position .contact-us form input[type="text"],
.contact .contact-position .contact-us form input[type="email"],
.contact .contact-position .contact-us form input[type="number"],
.contact .contact-position .contact-us textarea {
  font-size: 14px;
  font-weight: 600;
  color: var(--blue);
}

.contact .contact-position .contact-us textarea {
  display: inherit;
  width: 609px;
  height: 100px;
  resize: none;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  outline-color: var(--blue);
  padding: 7px 10px;
}

footer {
  padding: 0 5em 0 5em;
  background: #ececec;
}

footer .footer-container {
  display: flex;
  align-self: center;
  justify-content: space-around;
  padding: 3em 0 1em 0;
}

footer .footer-container .groups h3 {
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 10px;
}

footer .footer-container .groups p {
  font-family: 500;
  font-size: 13px;
  color: #737373;
  line-height: 17px;
  padding-bottom: 10px;
}

footer .footer-container .groups i {
  color: var(--blue);
  cursor: pointer;
}

footer .footer-container .groups nav a {
  display: block;
  font-weight: 600;
  font-size: 14px;
  color: #737373;
  margin-bottom: 10px;
}

.para {
  text-align: center;
  padding: 15px 0;
  color: #737373;
}

.para p {
  font-weight: 700;
  font-size: 16px;
}
