@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
:root{
    --black : #252B42;
    --white : #FFFFFF;
    --green : #40BB15;
    --grey  : #BDBDBD;
    --blue  : #23A6F0;
}
*::selection{
    color: var(--grey);
    background: var(--black);
}
#position{
   padding: 20px 5em;
}
body{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
.navbar{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.navbar > h3{
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.09em;
}
.navbar nav,
.navbar .btn{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.navbar nav a,
.navbar .btn a{
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.2px;
}
.navbar .btn button{
    display: flex;
    align-items: center;
    padding: 12px;
    background: var(--blue);
    color: var(--white);
    font-size: 12px;
    font-weight: 700;
    border-radius: 10px;
}
.navbar .btn button:hover{
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
}
.navbar a:active{
    color: red;
}
.navbar button .fa-arrow-right{
    padding-left: 5px;
    font-size: 12px;
}