@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
:root{
    --black : #252B42;
    --white : #FFFFFF;
    --green : #40BB15;
    --grey  : #BDBDBD;
    --blue  : #23A6F0;
}
*::selection{
    color: var(--grey);
    background: var(--black);
}
#background{
    position: absolute;
    padding: 20px 5em 0 5em;
    top: 0;
    left: 0;
    right: 0;
    background-size: cover;
}
body{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
.navbar{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.navbar > h3{
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.09em;
    color: var(--white);
}
.navbar nav,
.navbar .btn{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.navbar nav a,
.navbar .btn a{
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: var(--white);
}
.navbar nav a:hover,
.navbar .btn a:hover{
    color: var(--blue);
    transform: scale(1.1);
}
.navbar .btn button{
    display: flex;
    align-items: center;
    padding: 12px;
    background: var(--blue);
    color: var(--white);
    font-size: 12px;
    font-weight: 700;
    border-radius: 10px;
}
.navbar .btn button:hover{
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
}
.navbar a:active{
    color: red;
}
.navbar button .fa-arrow-right{
    padding-left: 5px;
    font-size: 12px;
}
.financial-assistant{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10em;
    padding: 5em 0 0 0;
}
.financial-assistant .content h1{
    font-weight: 800;
    font-size: 58px;
    line-height: 1.1em;
   letter-spacing: 0.05em;
   padding-bottom: 20px;
   color: var(--white);
}
.financial-assistant .content p{
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: var(--grey);
}
.financial-assistant .content .para{
    display: flex;
    align-items: center;
    column-gap: 1em;
    padding-top: 25px;
}
.financial-assistant .content .para p{
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    background: var(--blue);
    padding: 7px 15px;
    color: var(--white);
    border-radius: 2em;
}
.financial-assistant .content .para p:hover{
    background: var(--black);
    color: var(--white);
    cursor: pointer;
}
.financial-assistant .content .para p:nth-child(2){
    background: local;
    border: 1px solid var(--white);
    padding: 7px 22px;
}
.financial-assistant .content .para:hover p:nth-child(2){
    background: var(--blue);  
    border: 0; 
}
.financial-assistant img{
    width: 350px;
    object-fit: cover;
}